.hero {
  height: 80vh;
  background-image: url("../../assets/images/desktop/image-header.jpg");
  background-position: center;
  background-size: cover;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
}

.hero-title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 4.5rem;
  color: white;
  letter-spacing: 0.8rem;
}

.hero-down-arrow {
  padding-top: 4rem;
}

@media (max-width: 991.98px) {
  .hero {
    background-image: url("../../assets/images/desktop/image-header.jpg");
    background-position: center;
    background-size: cover;
    height: 650px;
  }

  .hero-title {
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.5rem;
  }

  .hero-down-arrow {
    padding-top: 3rem;
  }
}

@media (max-width: 767.98px) {
  .hero {
    background-image: url("../../assets/images/mobile/image-header.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
  }

  .hero-title {
    font-size: 2.3rem;
  }
}
