.navbar {
  display: flex;
  padding: 2rem 0;
}

.navbar-logo {
  flex: 1;
  display: flex;
  align-items: center;
}

.navbar-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  text-decoration: none;
  padding: 0 2rem;
}

.navbar-menu {
  display: flex;
  flex-wrap: wrap;
  padding-right: 2rem;
}

.navbar-menu-item {
  text-decoration: none;
  color: white;
  padding-left: 2rem;
}

.contact-button {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem 1.5rem;
  border-radius: 1.5rem / 1.5rem;
  display: inline;
  font-family: "Fraunces", serif;
  font-size: 0.8rem;
}

.contact-button:hover {
  background-color: #fff;
  color: hsl(212, 27%, 19%);
}

.navbar-content .hamburger-link {
  display: none;
  margin-right: 1.5rem;
}

.navbar-content #hidden {
  display: flex;
}

.clip-triangle {
  display: none;
  position: absolute;
  top: -20px;
  right: 0;
  width: 20px;
  height: 20px;
  background: white;
  clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
}

@media (max-width: 767.89px) {
  .navbar-logo {
    padding-left: 1.5rem;
  }

  .logo {
    padding-left: 0;
  }

  .navbar-content .hamburger-link {
    display: flex;
  }

  .navbar-content .navbar-menu {
    display: none;
    padding-right: 0;
  }

  .navbar-content #hidden {
    position: absolute;
    top: 100px;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-content #hidden a {
    margin: 0.5rem;
  }

  .navbar-menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fffbf8;
    width: 85%;
    padding: 1rem 0;
    position: relative;
  }

  .navbar-menu-item {
    padding-left: 0;
    padding: 1rem 0;
    color: black;
  }

  .contact-button {
    display: block;
    background-color: hsl(51, 100%, 49%);
  }

  .contact-button:hover {
    background-color: hsl(51, 100%, 49%);
  }

  .clip-triangle {
    display: block;
  }
}
