.testimonials {
  display: flex;
  width: 100vw;
  background-color: #fffbf8;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5.5rem 0rem;
}

.testimonials-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.testimonials-title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.3rem;
  color: hsl(232, 10%, 55%);
  letter-spacing: 0.3rem;
}

.testimonials-inner-wrap {
  display: flex;
  justify-content: center;
  width: 92%;
}

.user-wrap {
  padding-top: 4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.user-image {
  border-radius: 100%;
  width: 4.5rem;
}

.user-testimonial {
  color: hsl(213, 9%, 39%) !important;
  padding: 4rem 0rem;
  line-height: 1.5rem;
}

.user-info {
}

.user-name {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1rem;
  color: hsl(212, 27%, 19%) !important;
}

.user-label {
  padding-top: 0.5rem;
  color: hsl(232, 10%, 55%);
  font-size: 0.8rem;
}

@media (max-width: 767.89px) {
  .testimonials-section {
    width: 90% !important;
  }
}

@media (max-width: 991.98px) {
  .testimonials-inner-wrap {
    display: block;
  }

  .testimonials {
    padding: 4rem 0rem;
  }

  .testimonials-title {
    font-size: 1rem;
    color: hsl(232, 10%, 55%);
    letter-spacing: 0.3rem;
  }

  .testimonials-section {
    width: 70%;
  }

  .user-testimonial {
    padding: 2rem 0rem;
  }
}
